@using EduHome.Areas.Admin.ViewModels.SliderViewModels;

@{
    ViewData["Title"] = "Detail";
}
@model DetailSliderViewModel
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">

        <div class="card-body" style="font-size:20px">

            <a class="btn btn-primary" asp-action="index">GO BACK</a>

            <img src="~/assets/img/slider//@Model.ImageName" style="width:25%" />
            <h1>Title:@Model.Title</h1>
            Description: @Html.Raw(Model.Description)

            <h1>CreatedBy:@Model.CreatedBy</h1>
            <h1>CreatedTime:@Model.CreatedDate</h1>
            <h1>UpdatedBy:@Model.UpdatedBy</h1>
            <h1>UpdatedTime:@Model.UpdatedDate</h1>



        </div>
    </div>
</div>

