@using EduHome.ViewModels.AuthViewModels;
@{
    ViewData["Title"] = "Forgot password";
}
@model ForgotPasswordViewModel

<!-- Banner Area Start -->
@await Component.InvokeAsync("Banner")
<!-- Banner Area End -->
<!-- Login start -->
<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>forgot password</h2>
                            <span>Please enter your email information.</span>
                        </div>
                        <div class="login-form">
                            <form method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger" style="margin-bottom:10px"></div>
                                <input asp-for="Email" placeholder="Email" style="margin-bottom:4px">
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <div class="button-box">
                                    <button type="submit" class="default-btn">Send a link</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login end --> 