@using EduHome.ViewModels.AuthViewModels;
@{
    ViewData["Title"] = "Log in";
}
@model LoginViewModel

<!-- Banner Area Start -->
@await Component.InvokeAsync("Banner")
<!-- Banner Area End -->
<!-- Login start -->
<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>log in</h2>
                            <span>Please log in using account detail below.</span>
                        </div>
                        <div class="login-form">
                            <form method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger" style="margin-bottom:10px"></div>
                                <input asp-for="Email" placeholder="Email" style="margin-bottom:4px">
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <input asp-for="Password" placeholder="Password" style="margin-bottom:4px; margin-top:20px">
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <div class="button-box">
                                    <div class="login-toggle-btn">
                                        <input asp-for="RememberMe">
                                        <label for="RememberMe">Remember me</label>
                                        <a asp-action="ForgotPassword">Forgot Password?</a>
                                    </div>
                                    <button type="submit" class="default-btn">Log in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login end --> 