@using EduHome.Areas.Admin.ViewModels.CourseViewModels;

@{
    ViewData["Title"] = "Details";
}

@model DetailCourseViewModel


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">

        <div class="card-body" style="font-size:20px">

            <a class="btn btn-primary" asp-action="index">GO BACK</a>

            <img src="~/assets/img/course//@Model.ImageName" style="width:25%" />
            <h1>Name:@Model.Name</h1>
            <h1 style="font-size:15px">Description:@Html.Raw(Model.ShortDescription)</h1>
            <h1 style="font-size:15px">ClassDuration:@Model.ClassDuration</h1>
            <h1 style="font-size:15px">Duration:@Model.Duration</h1>
            <h1 style="font-size:15px">Language:@Model.Language</h1>
            <h1 style="font-size:15px">Start:@Model.StartDate</h1>
            <h1 style="font-size:15px">SkillLevel:@Model.SkillLevel</h1>
            <h1 style="font-size:15px">Students number:@Model.StudentCount</h1>
            <h1 style="font-size:15px">Assestment:@Model.Assestment</h1>


            @foreach (var category in Model.Category)
            {
                <h1>Category:@category.Name</h1>
            }
            <h1>CreatedBy:@Model.CreatedBy</h1>
            <h1>CreatedTime:@Model.CreatedDate</h1>
            <h1>UpdatedBy:@Model.UpdatedBy</h1>
            <h1>UpdatedTime:@Model.UpdatedDate</h1>



        </div>
    </div>
</div>
