@using EduHome.Areas.Admin.ViewModels.CategoryViewModels;

@{
    ViewData["Title"] = "Delete";
}

@model DeleteCategoryViewModel
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">

        <div class="card-body" style="font-size:20px">

            <a class="btn btn-primary" asp-action="index">GO BACK</a>
            <h1>Title:@Model.Name</h1>
            <form method="post">
                <button type="submit" class="btn btn-primary">Delete Category</button>

            </form>
        </div>
    </div>
</div>