@using EduHome.Areas.Admin.ViewModels.UserViewModels;

@{
    ViewData["Title"] = "Detail";
}

@model DetailUserViewModel
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">

        <div class="card-body" style="font-size:20px">

            <a class="btn btn-primary" asp-action="index">GO BACK</a>


            <h1>Fullname:@Model.Name</h1>
            <h1>Fullname:@Model.Surname</h1>
            <h1>UserName:@Model.UserName</h1>
            <h1>Email:@Model.Email</h1>
            <h1>Is Email Confirmed:@(Model.EmailConfirmed ? "Yes" : "No")</h1>
            @foreach (var role in Model.Role)
            {
                <h1>Role:@role.Name</h1>

            }
            <h1>Is Active:@(Model.IsActive ? "Yes" : "No") </h1>


        </div>
    </div>
</div>
