@using EduHome.Areas.Admin.ViewModels.SpeakerViewModels;

@{
    ViewData["Title"] = "Create";
}

@model CreateSpeakerViewModel

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Speaker</h4>

            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputUsername1">Image</label>
                    <input asp-for="Image" class="form-control" placeholder="Image">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Role</label>
                    <input asp-for="Role" class="form-control" placeholder="Role">
                    <span asp-validation-for="Role" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Company</label>
                    <input asp-for="Company" class="form-control" placeholder="Company">
                    <span asp-validation-for="Company" class="text-danger"></span>

                </div>


                <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Speaker</label>
                    <select asp-for="EventId" asp-items="ViewBag.Events" multiple="multiple">Select Event</select>
                </div>



                <button type="submit" asp-action="Create" class="btn btn-primary mr-2">Submit</button>

            </form>
        </div>
    </div>
</div>


