@using EduHome.Areas.Admin.ViewModels.EventViewModels;

@{
    ViewData["Title"] = "Delete";
}
@model EventViewModel

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">

        <div class="card-body" style="font-size:20px">

            <a class="btn btn-primary" asp-action="index">GO BACK</a>

            <img src="~/assets/img/Event//@Model.ImageName" style="width:25%" />
            <h1>Name:@Model.Name</h1>
            <h1>@Html.Raw(Model.Description)</h1>
            <form method="post">
                <button class="btn btn-danger" type="submit">Delete Event</button>

            </form>

        </div>
    </div>
</div>
